<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'getbills/style.css' %}" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title></title>
</head>
<body>
<header>
    <div class="topContainer">
        <div class="top">
            <ul class="socialLinks">
                <li>vk</li>
                <li>fb</li>
                <li>ok</li>
                <li>tw</li>
            </ul>
        </div>
        <div class="logoMain"><img src="{% static "getbills/images/logomain.png" %}"/></div>
        <div class="banner"></div>
        <div class="topLine"><img src="{% static "getbills/images/topline.png" %}"/></div>
    </div>
</header>
<div class="inner">
    <h1>РОЗЫГРЫШ ПРИЗОВ ОТ FABER-CASTELL!</h1>
    <div class="conditions">С 1 августа по 30 сентября 2016 года</div>
    <h2>УЧИТЕСЬ ВМЕСТЕ С НАМИ!</h2>
    <div class="stepsWrap">
        <ul class="stepsList">
            <li>
                <div class="step1Wrap">
                    <ul class="stepInside">
                        <li>
                            <img src="{% static "getbills/images/step1.png" %}" />
                        </li>
                        <li>
                            <div class="stepInsideInsideWrap">
                                <ul class="stepInsideInside">
                                    <li><img src="{% static "getbills/images/step1text.png" %}" /></li>
                                    <li class="stepText">продукцию Faber-Castell на сумму от 500 рублей</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="step2">
                    <ul class="stepInside" id="step2InnerList">
                        <li>
                            <img src="{% static "getbills/images/step2.png" %}" />
                        </li>
                        <li>
                            <div class="stepInsideInsideWrap">
                                <ul class="stepInsideInside">
                                    <li><img src="{% static "getbills/images/step2text.png" %}" /></li>
                                    <li class="stepText">подарок на кассе</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="step3">
                    <ul class="stepInside">
                        <li>
                            <img src="{% static "getbills/images/step3.png" %}" />
                        </li>
                        <li>
                            <div class="stepInsideInsideWrap">
                                <ul class="stepInsideInside">
                                    <li><img src="{% static "getbills/images/step3text.png" %}" /></li>
                                    <li class="stepText">чек и загрузите фото на сайт <span class="web">фабер-кастелл.рф</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="swooshWrap"><img src="{% static "getbills/images/swoosh.png" %}" /></div>
    </div>
    <div class="conditionWrap">
        КАЖДУЮ НЕДЕЛЮ ВЫ ПОЛУЧАЕТЕ ВОЗМОЖНОСТЬ <br>
        ВЫИГРАТЬ НАБОР ДЛЯ ТВОРЧЕСТВА И РАЗВИТИЯ <br>
        ОТ FABER-CASTELL. <br>
    </div>
    <div class="gradientWrap"></div>
    <div class="castleWrap"></div>
    <div class="winnerWrap">Победитель будет выбран случайным образом.</div>
    <div class="formLineWrap"><img src="{% static "getbills/images/bottomline.png" %}" /></div>

    <div class="formHeaderWrap">УЧАСТВОВАТЬ ПРОСТО</div>
    <div class="formWrap">
        <form action="{% url 'getbills:addAplication' %}" method="POST" enctype="multipart/form-data">
            <p>{% csrf_token %}</p>
            <ul class="formList">
                <li>
                    <div>
                        <ul class="formListInner">
                            <li>
                                <div class="inputWrap">
                                    <label>{{ form.name.label }}</label>
                                    {{ form.name }}
                                </div>
                            </li>
                            <li>
                                <div class="inputWrap">
                                    <label>{{ form.city.label }}</label>
                                    {{ form.city }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div>
                        <ul class="formListInner">
                            <li>
                                <div class="inputWrap">
                                    <label>{{ form.mail.label }}</label>
                                    {{ form.mail }}
                                </div>
                            </li>
                            <li>
                                <div class="inputWrap">
                                    <label>{{ form.docfile.label }}</label>
                                    <div id="sendFileFix" title="Нажмите на меня, для обзора файла">{{ form.docfile }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>
            <div id="div_send"><input type="submit" value="Отправить >>" /></div>
        </form>
    </div>
</div>

<footer>

</footer>
</body>
</html>