<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'getbills/style.css' %}" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static 'getbills/script.js' %}"></script>
    <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
    <title>Faber-Castell розыгрыш призов</title>
    
    <meta property="og:url"           content="http://xn----7sbbcuc7aka8bomr.xn--p1ai/" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Розыгрыш призов от Faber-Castell!" />
	<meta property="og:description"   content="Каждую неделю вы получаете возможность выиграть набор для творчества и развития от Faber-Castell" />
	<meta property="og:image"         content="http://xn----7sbbcuc7aka8bomr.xn--p1ai/static/getbills/images/logomain.png" />
</head>
<body>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<header>
    <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
    <div class="topContainer">
        <div class="top">
            <ul class="socialLinks">
                <li><script type="text/javascript">
                    document.write(VK.Share.button({
                    url: 'http://xn----7sbbcuc7aka8bomr.xn--p1ai/',
                    type: 'link',
                    title: 'Розыгрыш призов от Faber-Castell!',
                    description: 'Каждую неделю вы получаете возможность выиграть набор для творчества и развития от Faber-Castell',
                    image: 'http://xn----7sbbcuc7aka8bomr.xn--p1ai/static/getbills/images/logomain.png',
                    noparse: true
}));
                </script></li>
                <li>
                    <div class="fb-share-button" data-href="http://xn----7sbbcuc7aka8bomr.xn--p1ai/" data-layout="button" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fxn----7sbbcuc7aka8bomr.xn--p1ai%2F&amp;src=sdkpreparse">Поделиться</a></div>
                </li>
                <li><a href="https://plus.google.com/share?url={http://xn----7sbbcuc7aka8bomr.xn--p1ai/}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
  src="https://www.gstatic.com/images/icons/gplus-16.png" alt="Share on Google+"/></a></li>
                <li><div id="ok_shareWidget"></div>
<script>
!function (d, id, did, st) {
  var js = d.createElement("script");
  js.src = "https://connect.ok.ru/connect.js";
  js.onload = js.onreadystatechange = function () {
  if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {
    if (!this.executed) {
      this.executed = true;
      setTimeout(function () {
        OK.CONNECT.insertShareWidget(id,did,st);
      }, 0);
    }
  }};
  d.documentElement.appendChild(js);
}(document,"ok_shareWidget","http://xn----7sbbcuc7aka8bomr.xn--p1ai/","{width:115,height:30,st:'rounded',sz:20,ck:2,nc:1}");
</script>
</li>
                <li><a class="twitter-share-button"  href="https://twitter.com/intent/tweet?text=http://xn----7sbbcuc7aka8bomr.xn--p1ai Розыгрыш призов от Faber-Castell!"  data-size="default">
</a></li>
            </ul>
        </div>
        <div class="logoMain"><img src="{% static "getbills/images/logomain.png" %}"/></div>
        <div class="banner"></div>
        <div class="topLine"><img src="{% static "getbills/images/topline.png" %}"/></div>
    </div>
</header>
<div class="inner">
    <h1>РОЗЫГРЫШ ПРИЗОВ ОТ FABER-CASTELL!</h1>
    <div class="conditions">С 1 августа по 30 сентября 2016 года</div>
    <h2>УЧИТЕСЬ ВМЕСТЕ С НАМИ!</h2>
    <div class="stepsWrap">
        <ul class="stepsList">
            <li>
                <div class="step1Wrap">
                    <ul class="stepInside">
                        <li>
                            <img src="{% static "getbills/images/step1.png" %}" />
                        </li>
                        <li>
                            <div class="stepInsideInsideWrap">
                                <ul class="stepInsideInside">
                                    <li><img src="{% static "getbills/images/step1text.png" %}" /></li>
                                    <li class="stepText">продукцию Faber-Castell на сумму от 500 рублей</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="step2">
                    <ul class="stepInside" id="step2InnerList">
                        <li>
                            <img src="{% static "getbills/images/step2.png" %}" />
                        </li>
                        <li>
                            <div class="stepInsideInsideWrap">
                                <ul class="stepInsideInside">
                                    <li><img src="{% static "getbills/images/step2text.png" %}" /></li>
                                    <li class="stepText">подарок на кассе</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="step3">
                    <ul class="stepInside">
                        <li>
                            <img src="{% static "getbills/images/step3.png" %}" />
                        </li>
                        <li>
                            <div class="stepInsideInsideWrap">
                                <ul class="stepInsideInside">
                                    <li><img src="{% static "getbills/images/step3text.png" %}" /></li>
                                    <li class="stepText">чек и загрузите фото на сайт <span class="web">фабер-кастелл.рф</span></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="swooshWrap"><img src="{% static "getbills/images/swoosh.png" %}" /></div>
    </div>
    <div class="conditionWrap">
        КАЖДУЮ НЕДЕЛЮ ВЫ ПОЛУЧАЕТЕ ВОЗМОЖНОСТЬ <br>
        ВЫИГРАТЬ НАБОР ДЛЯ ТВОРЧЕСТВА И РАЗВИТИЯ <br>
        ОТ FABER-CASTELL. <br>
    </div>
    <div class="gradientWrap"></div>
    <div class="castleWrap"></div>
    <div class="winnerWrap">Победитель будет выбран случайным образом.</div>
    <div class="formLineWrap"><img src="{% static "getbills/images/bottomline.png" %}" /></div>

    <div class="formHeaderWrap">УЧАСТВОВАТЬ ПРОСТО</div>
    <div class="formWrap">
        <form action="{% url 'getbills:addAplication' %}" method="POST" enctype="multipart/form-data">
            <p>{% csrf_token %}</p>
            <ul class="formList">
                <li>
                    <div>
                        <ul class="formListInner">
                            <li>
                                <div class="inputWrap">
                                    <label>{{ form.name.label }}</label>
                                    {{ form.name }}
                                </div>
                            </li>
                            <li>
                                <div class="inputWrap">
                                    <label>{{ form.city.label }}</label>
                                    {{ form.city }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div>
                        <ul class="formListInner">
                            <li>
                                <div class="inputWrap">
                                    <label>{{ form.mail.label }}</label>
                                    {{ form.mail }}
                                </div>
                            </li>
                            <li>
                                <div class="inputWrap">
                                    <label>{{ form.docfile.label }}</label>
                                    <div id="sendFileFix" title="Нажмите на меня, для обзора файла">{{ form.docfile }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>
            <div id="div_send"><input type="submit" value="Отправить >>" /></div>
        </form>
    </div>
</div>

<footer>
    <ul class="footerList">
        <li>
            <div class="footerText" id="fints"><a href="http://fabercastellgottalent.com/where_buy/">Список магазинов «Фабер-Кастелл»</a></div>
            <div>
                <span class="footerText">Мы в соц. сетях</span>
                <a href="https://www.facebook.com/fabercastellrussia"><img src="{% static "getbills/images/fb.png" %}" /></a>
                <a href="https://vk.com/fabercastellrussia"><img src="{% static "getbills/images/vk.png" %}" /></a>
                <a href="https://ok.ru/fabercastell"><img src="{% static "getbills/images/ok.png" %}" /></a>
            </div>
        </li>
        <li id="specialFooter">
            <div class="footerNumber">+7 (495) 225 96 34</div>
            <div class="footerText">contest@faber-castell.com.ru</div>
        </li>
    </ul>
</footer>
</body>
</html>